 <mat-nav-list>
  <mat-list-item routerLink="/signup" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Signup</span>
  </mat-list-item>
  <mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>login</mat-icon>
    <span class="nav-caption">Login</span>
  </mat-list-item>
  <mat-list-item routerLink="/questions" (click)="onClose()">
    <mat-icon>question_answer</mat-icon>
    <span class="nav-caption">Questions</span>
  </mat-list-item>
  <mat-list-item routerLink="/users" (click)="onClose()">
    <mat-icon>group</mat-icon>
    <span class="nav-caption">Users</span>
  </mat-list-item>
  <mat-list-item routerLink="/tags" (click)="onClose()">
    <mat-icon>loyalty</mat-icon>
    <span class="nav-caption">Tags</span>
  </mat-list-item>
</mat-nav-list>
